#banner
    .banner_content
        %h1 NoteNote
        %p Your online notebook. Never forget an idea again.
        %button= link_to "Sign Up", new_user_registration_path
        
#testimonial
    .wrapper
        %p.quote "The greatest notebook application. Period"
        %p.name - Nolan

#callouts
    .callout_inner
        .wrapper
            .callout
                %i.fa.fa-pencil
                %h2 Notes
                %p Repellat maiores recusandae quisquam vel, recusandae? Nisl dolorum purus dapibus cras magna per eaque odio necessitatibus, numquam voluptas! Fugiat in totam repellat inceptos consectetur, volutpat tempore quo! Fugiat adipisci, molestias aliquam etiam recusandae elit, eget sequi, scelerisque optio rutrum esse tempora mollitia, porta autem. Aenean cum nisi magnam. Minus, tempora, iure corrupti vivamus sollicitudin risus consectetuer, senectus, et condimentum lectus, quo quisque sodales, cumque quis minim nonummy hendrerit nesciunt gravida! Recusandae adipisci egestas eleifend gravida mattis adipisci laborum morbi netus nec magni delectus odit, nullam eaque. Luctus, aptent! Officiis sollicitudin? Inventore autem. Tenetur similique inceptos magna doloremque quo laudantium optio.
            .callout
                %i.fa.fa-rocket
                %h2 Notes
                %p Repellat maiores recusandae quisquam vel, recusandae? Nisl dolorum purus dapibus cras magna per eaque odio necessitatibus, numquam voluptas! Fugiat in totam repellat inceptos consectetur, volutpat tempore quo! Fugiat adipisci, molestias aliquam etiam recusandae elit, eget sequi, scelerisque optio rutrum esse tempora mollitia, porta autem. Aenean cum nisi magnam. Minus, tempora, iure corrupti vivamus sollicitudin risus consectetuer, senectus, et condimentum lectus, quo quisque sodales, cumque quis minim nonummy hendrerit nesciunt gravida! Recusandae adipisci egestas eleifend gravida mattis adipisci laborum morbi netus nec magni delectus odit, nullam eaque. Luctus, aptent! Officiis sollicitudin? Inventore autem. Tenetur similique inceptos magna doloremque quo laudantium optio.
            .callout
                %i.fa.fa-bolt
                %h2 Notes
                %p Repellat maiores recusandae quisquam vel, recusandae? Nisl dolorum purus dapibus cras magna per eaque odio necessitatibus, numquam voluptas! Fugiat in totam repellat inceptos consectetur, volutpat tempore quo! Fugiat adipisci, molestias aliquam etiam recusandae elit, eget sequi, scelerisque optio rutrum esse tempora mollitia, porta autem. Aenean cum nisi magnam. Minus, tempora, iure corrupti vivamus sollicitudin risus consectetuer, senectus, et condimentum lectus, quo quisque sodales, cumque quis minim nonummy hendrerit nesciunt gravida! Recusandae adipisci egestas eleifend gravida mattis adipisci laborum morbi netus nec magni delectus odit, nullam eaque. Luctus, aptent! Officiis sollicitudin? Inventore autem. Tenetur similique inceptos magna doloremque quo laudantium optio.            

#bottom_cta
    .wrapper
        %h2 For Reelz!
        %p sign up yo
        %button= link_to "Click Meee", new_user_registration_path
        
%footer
    %p &copy; Nolan
    